* {
    margin: 0;
    padding: 0;
}

body {
    background: #F9EFED;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*
**** Layout *****
*/

/* Barra cabeçalho */
#area_cabeçalho {
    background-color: #0094f7;
    padding: 15px;
    text-align: center;
}

#area_logo, #area_menu {
    padding: 10px;
}


/* Corpo principal */

.container {
    display: flex;
    justify-content: center;
}
.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#corpo_principal {
    display: flex;
    flex-direction: column;
    background: #FFF;
    height: auto;
    padding: 15px;
    margin-top: 25px;
    border-radius: 20px;

}

#titulo_posts a {
    text-decoration: none;
}

#titulo_posts a:link, #titulo_posts a:visited {
    color: #0094f7;
} 

#titulo_posts a:hover {
    text-decoration: underline;
}

#titulo_posts {
    color: #0094f7;
    margin-left: 20px;
    margin-top: 20px;
}


#titulo_formulario {
    color: #0094f7;
    text-align: center;
    padding: 10px;
}

#titulo_artigos {
    color: #0094f7;
    margin-left: 20px;
    margin-bottom: 1%;
}

#subtitulo_posts, #subtitulo_artigos {
    margin-left: 20px;
    margin-bottom: 10px;
}


.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 800px;
}

.imagens_dupla_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagens_dupla {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    width: 400px;
    border-radius: 20px;
}

.video {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3%;
    border-radius: 20px;
}

.textos_posts, .textos_artigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 20px;
    width: 95ch;
    text-align: justify;
}

.lista_artigos {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#links_artigos a {
    justify-content: center;
    text-align: end;
    text-decoration: none;
    margin-left: 15px;
}

#links_artigos a:link, #links_artigos a:visited {
    color: #0094f7;
}

#links_artigos a:hover {
    text-decoration: underline;
}

#formulario {
    padding: 10px;
    width: fit-content;
}

/* Barra Lateral */

.aside_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2em;
}

#barra_lateral {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px;
    align-items: center;
}

.side_nav {
    background-color: #FFF;
    padding: 15px;
    width: 150px;
    border-radius: 20px;
    margin-top: 10px;
}

/* Barra superior lateral direita */

.new_post {
    color: #4e4e4e;
    margin-bottom: 10px;
}

.texto_lateral {
    font-size: 13px;
}


/* Barra inferior lateral direita */


.side_nav ul li {
    list-style: none;
}

/* BARRA CONTATOS */

.side_nav_contatos {
    background-color: #FFF;
    padding: 15px;
    width: 35px;
    border-radius: 20px;
    margin-top: 10px;
}


.side_nav_contatos ul li {
    list-style: none;
}

#img_contato {
    width:35px;
}
/*
**** Formatações menu ****
*/

/* Menu superior */
#area_menu a {
    text-decoration: none;
}

#area_menu a:link, #area_menu a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#area_menu a:hover {
    color: #0094f7;
    background-color: #FFF;
    border-radius: 10px;
}

/* Barra lateral superior direita */

.textos_lateral a:link {
    color: #4e4e4e;
}

/* Barra lateral inferior direita */

.side_nav a {
    text-decoration: none;
    display: block;
}

.side_nav a:link, .side_nav a:visited {
    color: #0094f7;
    padding: 8px 8px;
}

.side_nav a:hover {
    color: #0094f7;
    text-decoration: underline;
    border-radius: 10px;
}

/*
**** Formatações em geral ****
*/

.logo {
    color: #ffffff;
    font: 2.5em;
}

.branco {
    color: white;
}

